.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
}

.middle {
    display: table-cell;
    vertical-align: top;
    background-image: url(background.jpg); height: 100%; width: 100%;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 75%;
    height:100%;
    background: #FAEBD7;
    border-radius: 10pt;
    opacity: 0.9;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

tr{padding: 10 10 10 10;}
td{text-transform: capitalize; padding: 15 15 15 15;}