<html>
<head>
	<title>MTG Deck Color Advisor</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="DivAligner.css">
</head>
<body>
	<div class="outer">
<div class="middle">
<div class="inner">

<img src="MTG_Heading.png"/>

<h2>Enter strategies you're considering:</h2>
<br/>
<form>
<input type="text" name="Strategies" style="font-size:16pt;">
<input type="submit" name="submit" value="Find my colors!" style="font-size:16pt;">
</form>
 <img src="MTG_Colors.png"/>
                            
</div>
</div>
</div>
</body>

